.dot-red {
    background-color: red;
    padding:3px;
    width:15px;
    height:15px;
    border-radius:50px;
}

.dot-yellow {
    background-color: orange;
    padding:3px;
    width:15px;
    height:15px;
    border-radius:50px;
}

.dot-green {
    background-color: green;
    padding:3px;
    width:15px;
    height:15px;
    border-radius:50px;
}

.ic-add {
    border: 2px solid white;
    border-radius: 30px; 
    width: 42px;
    color:white;
    padding:7px 13px 7px 13px;
    margin: auto;

}
.ic-add:hover {
    border: 2px solid white;
    border-radius: 30px; 
    color:#14213D;
    padding:7px 13px 7px 13px;
    background-color: #fff;
    
}

.f-r {
    float: right;
}




::-webkit-scrollbar {
    width: 5px;
    
    
}
::-webkit-scrollbar-track {
    display : none;
    

}
::-webkit-scrollbar-thumb {
    background-color: rgb(255, 255, 255); 
    
}
::-webkit-scrollbar-button {
    max-height: 10%;
    

}
::-webkit-scrollbar-corner {
    display : none;
}

.d-inline {
    display: inline !important;
}

.d-inline-f-r {
    display: inline !important;
    float: right;
}

.area {
    width: 100%;
    border-color: #198754;
}

.mr-3 {
    margin-right: 30px;
}

.xcenter {
    text-align: center;
}

.buttontext {

    line-height: 0;
    letter-spacing: 10px;
    text-transform: lowercase;
    height : 20px;
    width: 7em;
    margin-right:5px;

}
.buttontext:hover {
    -webkit-box-shadow: none;
    background-color: #198754;
    color: #ffffff;
} 
.buttontext:focus {

    -webkit-box-shadow: none;
    
     
      
  }

.widthcard {
    width: 100%;
    opacity: 85%;
    border-radius: 15px ;
}
.wordupper {
    color: #198754;
    line-height: 1.7;
    letter-spacing: 7px;
    word-spacing: 5px;
    text-transform: uppercase;
}
.wordlower {
    color: #198754;
    line-height: 1.7;
    letter-spacing: 7px;
    word-spacing: 5px;
    text-transform: lowercase;
    text-align: center;
}

#contents {
    opacity: 90%;
}

#contents:hover {
    opacity: 100%;
}

.pdd-0 {
    padding-bottom: 0px;
    padding-top: 0px;

}

.create-notice-border {
    height:320px;
}



.formmmm-fix {
    border-radius: 20px;
    box-shadow: 4px 4px 4px #FCA311;
    background-color: #14213D;
    height: 500px;
    width: 500px;
    
   
  }

  .create-note-left {
    display: inline-block;
    margin-left:30px;
}

.create-note-right {
    display: inline-block;
    margin-right:30px;
}

.input-note {
    background-color: #fff;
    border: none;
    -webkit-box-shadow: none;
    text-transform: lowercase;
    outline: none;
    padding-left: 20px;
}



.input-note:focus {
    -webkit-box-shadow: none;
    text-transform: lowercase;
    color: #14213D;
}

.input-note-area {
    outline: none;
    border: none;
    width: 100%;
    height: 100px;
}

.cus-up {
    display: block;
    text-align: end;
}

.upload-btn {
    border: 1px solid white;
    display: inline-block;
    padding:0px 20px;
    border-radius: 99999px;
}

.upload-btn:hover {
    border: 1px solid white;
    background-color: #fff;
    color:#14213D ;
    display: inline-block;
    padding:0px 20px;
    border-radius: 99999px;
}

.spann {
    padding-left: 8px;
}

.direct-btn {
    border: 1px solid white;
    background-color: #fff;
    color:#14213D ;

    display: inline-block;
    padding:0px 20px;
    border-radius: 99999px;
}

.direct-btn:hover {
    border: 1px solid white;
    background-color: rgb(238, 236, 236);
    color:black ;
    display: inline-block;
    padding:0px 20px;
    border-radius: 99999px;
}

.manage-scroll {
    width: 100%;
    height: 380px;
    overflow:scroll;
    overflow-x:hidden;
    
    
}

.input-op {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    -webkit-box-shadow: none;
    text-transform: lowercase;
    
    outline: none;
    color: white;
    width: 250px;
}

.input-op:focus {
    -webkit-box-shadow: none;
    text-align: start;
    text-transform: lowercase;
    
    color: #ffffff;
}

.delete-btn {
    border: 1px solid rgb(255, 0, 0);
    background-color: rgb(255, 0, 0);
    color:#ffffff ;

    display: inline-block;
    padding:0px 20px;
    border-radius: 99999px;
}

.delete-btn:hover {
    border: 1px solid rgb(180, 0, 0);
    background-color: rgb(180, 0, 0);
    color:rgb(255, 255, 255) ;
    display: inline-block;
    padding:0px 20px;
    border-radius: 99999px;
}

.ta-disable-btn {
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    color:#000000 ;

    display: inline-block;
    padding:0px 20px;
    border-radius: 99999px;
}

.ta-disable-btn:hover {
    border: 1px solid rgb(212, 212, 212);
    background-color: rgb(212, 212, 212);
    color:rgb(0, 0, 0) ;
    display: inline-block;
    padding:0px 20px;
    border-radius: 99999px;
}

.ta-active-btn {
    border: 1px solid rgb(58, 131, 36);
    background-color: rgb(58, 131, 36);
    color:#ffffff ;

    display: inline-block;
    padding:0px 20px;
    border-radius: 99999px;
}

.ta-active-btn:hover {
    border: 1px solid rgb(51, 114, 31);
    background-color: rgb(51, 114, 31);
    color:rgb(255, 255, 255) ;
    display: inline-block;
    padding:0px 20px;
    border-radius: 99999px;
}