.dot-red {
    background-color: red;
    padding:3px;
    width:15px;
    height:15px;
    border-radius:50px;
}

.dot-yellow {
    background-color: orange;
    padding:3px;
    width:15px;
    height:15px;
    border-radius:50px;
}

.dot-green {
    background-color: green;
    padding:3px;
    width:15px;
    height:15px;
    border-radius:50px;
}

.ic-add {
    border: 2px solid white;
    border-radius: 30px; 
    width: 42px;
    color:white;
    padding:7px 13px 7px 13px;
    margin: auto;

}
.ic-add:hover {
    border: 2px solid white;
    border-radius: 30px; 
    color:#14213D;
    padding:7px 13px 7px 13px;
    background-color: #fff;
    
}

.f-r {
    float: right;
}




::-webkit-scrollbar {
    width: 5px;
    
    
}
::-webkit-scrollbar-track {
    display : none;
    

}
::-webkit-scrollbar-thumb {
    background-color: rgb(255, 255, 255); 
    
}
::-webkit-scrollbar-button {
    max-height: 10%;
    

}
::-webkit-scrollbar-corner {
    display : none;
}

.d-inline {
    display: inline !important;
}

.d-inline-f-r {
    display: inline !important;
    float: right;
}

.area {
    width: 100%;
    border-color: #198754;
}

.mr-3 {
    margin-right: 30px;
}

.xcenter {
    text-align: center;
}

.buttontext {

    line-height: 0;
    letter-spacing: 10px;
    text-transform: lowercase;
    height : 20px;
    width: 7em;
    margin-right:5px;

}
.buttontext:hover {
    -webkit-box-shadow: none;
    background-color: #198754;
    color: #ffffff;
} 
.buttontext:focus {

    -webkit-box-shadow: none;
    
     
      
  }

.widthcard {
    width: 100%;
    opacity: 85%;
    border-radius: 15px ;
}
.wordupper {
    color: #198754;
    line-height: 1.7;
    letter-spacing: 7px;
    word-spacing: 5px;
    text-transform: uppercase;
}
.wordlower {
    color: #198754;
    line-height: 1.7;
    letter-spacing: 7px;
    word-spacing: 5px;
    text-transform: lowercase;
    text-align: center;
}

#contents {
    opacity: 90%;
}

#contents:hover {
    opacity: 100%;
}

.pdd-0 {
    padding-bottom: 0px;
    padding-top: 0px;

}

.create-notice-border {
    height:320px;
}