.mr-3 {
    margin-right: 30px;
}

.xcenter {
    text-align: center;
}

.buttontext {

    line-height: 0;
    letter-spacing: 10px;
    text-transform: lowercase;
    height : 20px;
    width: 7em;
}
.widthcard {
    width: 100%;
}
.wordupper {
    color: #198754;
    line-height: 1.7;
    letter-spacing: 7px;
    word-spacing: 5px;
    text-transform: uppercase;
}
.wordlower {
    color: #198754;
    line-height: 1.7;
    letter-spacing: 7px;
    word-spacing: 5px;
    text-transform: lowercase;
    text-align: center;
}