.navbar {
  border-radius: 25px;
  background-color: #14213D;
  
  box-shadow: 4px 4px 4px #FCA311;
  opacity: 100%;
}


.fixed-navleft {
  position:relative;
  text-decoration: none;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 7px;
  margin-left: 20px;
}
.fixed-navleft:hover {
  /*
  border-bottom: 5px solid #FCA311;
  margin-top:5px;
  */
  color: #FCA311;
}


.navmain {
    
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 5px;
}
.navcenter:hover {
    color: #FCA311;
}


.fixed-navright {
    position:relative;
    text-decoration: none;
    color: white;
    font-size: 15px;
    letter-spacing: 7px;
    margin-right:20px
}
.fixed-navright:hover {
    color: #FCA311;
}

.togglor-custom {
  border: 0px solid white;
  height: 22px;
  border-radius: 30px;
  color: white;
  background-color: rgb(255, 255, 255);

}

.togglor-custom:hover {
  border: 0px solid white;
  border-radius: 30px;
  background-color: rgb(255, 255, 255);
  color: white;

  box-shadow: 1px 2px 3px #FCA311;
}

.navbar-toggler:focus  {
  
  -webkit-box-shadow: none;

  
}

.disable {
  
  position:relative;
  text-decoration: none;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 7px;
  margin-left: 20px;
  opacity: 70%;
}

.disable:hover {
  
  position:relative;
  text-decoration: none;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 7px;
  margin-left: 20px;
  opacity: 70%;
}
