.navbar {
  border-radius: 25px;
  background-color: #14213D;
  height:70px;
  box-shadow: 4px 4px 4px #FCA311;
  opacity: 100%;
}


.fixed-navleft {
  position:relative;
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 7px;
  margin-left: 20px;
}
.fixed-navleft:hover {
  /*
  border-bottom: 5px solid #FCA311;
  margin-top:5px;
  */
  color: #FCA311;
}


.navcenter {
    position: relative;
    margin: auto;
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 15px;
}
.navcenter:hover {
    color: #FCA311;
}


.fixed-navright {
    position:relative;
    text-decoration: none;
    color: white;
    font-size: 20px;
    letter-spacing: 7px;
    margin-right:20px
}
.fixed-navright:hover {
    color: #FCA311;
}
