.border-rg {
    opacity: 85%;
    border-radius: 15px;
    border: 1px solid #198754;
    border-radius: 15px;
    
}

.inll {
    display: inline;
}

.bttp {
    display: inline;
    margin: auto;
    width:38px;
}

.detail-requ {
    height: auto;
}

.imgu {
    width: 300px;
    height: 200px;
    border-radius: 15px;
}

.imgu-fix {
    width: 400px;
    height: 200px;
    border-radius: 15px;
}

.white-content {
    background-color: #fff;
    border-radius: 15px;
}

.desc {
    position: absolute;
}

.note {
    height: 150px;
}

.note-scroll {
    height:90px;
    overflow:scroll;
    overflow-x:hidden;
}

.desc-scroll {
    height:150px;
    overflow:scroll;
    overflow-x:hidden;
    width: auto;
    padding:5px;
    margin-right:30px
    
}

.desc-scroll-fix {
    height:150px;
    overflow:scroll;
    overflow-x:hidden;
    width: auto;
    padding:5px;
    
}

.list-scroll-cus {
    width: 100%;
    height: 325px;
    overflow:scroll;
    overflow-x:hidden;
    
    
}

.desc-text {
   
}


.name-left {
    position: static;  
}


.newno {
    border : 1px solid white;
    width: 200px;
    padding: 15px;
    border-radius: 20px;
}







