.border-rg {
    opacity: 85%;
    border-radius: 15px;
    border: 1px solid #198754;
    border-radius: 15px;
    
}

.inll {
    display: inline;
}

.bttp {
    display: inline;
    margin: auto;
    width:38px;
}

.detail-requ {
    height: auto;
}

.imgu {
    width: 300px;
    height: 300px;
    border-radius: 15px;
}
